<html>
	<head>
		<title>Caesar Cipher</title>
	</head>
	<body>
	<center>	
		<p>
			Caesar Cipher<br>
			made by: <i><b>Jairus Jimenez</b></i>
		</p><br><br>
		<form action="">
			<span>Enter your sentence:</span>
			<input type="text" name="word">
			<br>
			<span>Shift factor:</span>
			<input type="text" name="shift"><br>
			<input type='submit' value='Decipher!' />
		</form>
		<br>
		<p>
			Status: <%= status %><br>
			Encrypted message: <%= msg %><br>
		</p>
	</center>
	</body>
</html>